[submodule "src/ODataProducer"]
	path = src/ODataProducer
	url = https://github.com/xrowgmbh/odataphpprod.git
[submodule "src/OData_PHP_SDK"]
	path = src/OData_PHP_SDK
	url = https://github.com/xrowgmbh/OData_PHP_SDK.git
